<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BuySell</title>
</head>
<body>
    <h1>Welcome to BuySell!</h1>
    <input type="string" name="o">search here!</input>
    <p>we are the best buying things compeny! we are good and reliable! we velue our costumers feelings the best! so we use exclemation marks!!</p>
    <h2>foods!</h2>
    <p>egg</p><img src='static/egg.png'>
    <p>carrot</p><img src="static/carrot.png">
    <br><h2>drinks!</h2>
    <p>almond water</p><img src="static/almond-water.png">
    <br><h2>other enjoyable items!</h2>
    <p>birdcage</p><img src="static/birdcage.png">

</body>
</html>